{% extends 'core/base.html' %}

{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center  text-gray-900 dark:text-gray-100 ">
    <div class="max-w-screen-lg mx-auto p-8 bg-white dark:bg-gray-800 shadow-md rounded-lg">
        <div class="flex flex-col sm:flex-row items-center space-x-0 sm:space-x-4 mb-8 space-y-4 sm:space-y-0">
            <img src="{{ profile_image_url }}" alt="Profile Image" class="rounded-full shadow-md w-32 h-32 object-cover">
            <div class="text-center sm:text-left">
                <h1 class="text-4xl font-bold">{{ full_name }}</h1>
                <p class="text-lg">
                    <i class="fas fa-envelope mr-2"></i>
                    <a href="mailto:{{ email }}" class="text-blue-500 dark:text-blue-300 hover:underline">{{ email }}</a>
                </p>
                <p class="text-lg"><i class="fas fa-phone mr-2"></i>{{ phone_number }}</p>
                <p class="text-lg"><i class="fab fa-whatsapp mr-2"></i>{{ whatsapp_number }}</p>
            </div>
        </div>

        <table class="table-auto w-full">
            <tbody>
                <tr>
                    <td class="border px-4 py-2 font-bold"><i class="fab fa-facebook mr-2"></i>Facebook</td>
                    <td class="border px-4 py-2">
                        <a href="{{ facebook_link }}" class="text-blue-500 dark:text-blue-300 hover:underline" target="_blank">Mohammad Omar Faruk</a>
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 font-bold"><i class="fab fa-linkedin mr-2"></i>LinkedIn</td>
                    <td class="border px-4 py-2">
                        <a href="{{ linkedin_link }}" class="text-blue-500 dark:text-blue-300 hover:underline" target="_blank">Mohammad Omar Faruk</a>
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 font-bold"><i class="fab fa-github mr-2"></i>GitHub</td>
                    <td class="border px-4 py-2">
                        <a href="{{ github_link }}" class="text-blue-500 dark:text-blue-300 hover:underline" target="_blank">Mohammad Omar Faruk</a>
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 font-bold"><i class="fas fa-tools mr-2"></i>Skills</td>
                    <td class="border px-4 py-2">{{ skills }}</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 font-bold"><i class="fas fa-project-diagram mr-2"></i>Projects</td>
                    <td class="border px-4 py-2">
                        <ul class="list-disc pl-5">
                            {% for project in projects %}
                                <li>
                                    <a href="{{ project.link }}" class="text-blue-500 dark:text-blue-300 hover:underline" target="_blank">{{ project.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 font-bold"><i class="fas fa-language mr-2"></i>Languages</td>
                    <td class="border px-4 py-2">{{ languages }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


